<h2>Bienvenido, elige una opcion para entrar a la practica 1 o practica 2</h2>
<div>
    <nav>
        <li>
            <a href="https://practica1giancarlo.000webhostapp.com/Practica1/html/practica1.html">Practica 1 </a>
        </li>
        <li><a href="https://practica1giancarlo.000webhostapp.com/Practica2/html/practica2.html">Practica 2</a></li>
    </nav>
</div>